<div class="box">
  <h3> Informe suas credenciais de login: </h3>
</div>
<div>
  <form [formGroup]="formulario" class="login box"  >
    <label for="username">Usuário:</label>
    <input type="text" name="username" id="username" formControlName="login" required minlength="5" />
    <label for="password">Senha:</label>
    <input type="password" name="password" id="password" formControlName="senha" required/>
  </form>
</div>
<div class="botao">
  <button (click)="chamarContas()">Enviar dados</button>
</div>
