
.consulta-container{
  text-align: center;
 display: block;
 padding-bottom:5rem;
 max-height: stretch;
 }
 .consulta-cabecalho{
   font-size: 1.5em;
   text-transform: uppercase;
   margin:0.5em;
 }
 .acao-nova{
  padding: 1em;
 }
 .filtro{
  display: flex;
  justify-content: center;

 }
 .exibe-filtro-true{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:50%;
  padding: 1.3rem;
 }
 .exibe-filtro-true select{
  text-align: center;
  font-size: 1rem;
  padding:0.3rem;
  margin-bottom: 0.4rem;
 }
 .exibe-filtro-true input{
  text-align: center;
  font-size: 1.2rem;
  width: 50%;
  padding: 0.35rem;
  border:1px solid gray;
  border-radius: 1rem;
 }

 .exibe-filtro-false{
   display:none;
 }
 .botao{
   font-size: 1.3em;
   text-align: center;
   padding: 0.35em 1em;
   border: none;
   border-radius: 1.5rem;
   margin-bottom: 1rem;
 }
 .lista-todas{
   display: inline-block;
   font-size: 1.5em;
   margin:0.5em;
   padding:0.35em;
   overflow-y: auto;
 }
 table,th{
   border:2px groove black;
   border-collapse: collapse;
   padding: 0.7em;
   text-align: center;
   width: 40em;

 }
 th{
   background-color: #368e87;
 }

 td{
   border-bottom: 1px solid black;
   padding:0.6em;
   cursor: pointer;
 }
 .celula-paciente,.celula-medico{
    width: 25%;
 }
 .especialidade{
  text-transform: uppercase;
 }
 .listaVazia{
  padding:1rem;
 }
 .voltar{
  margin:1.5rem;
}
 .voltar button{
   border-radius: 2rem;
   font-size: 1rem;
   padding:0.2rem 1rem;
 }

