<section class="consulta-container">
  <div class="consulta-cabecalho">
    <h1>seção de consultas</h1>
  </div>
  <div class="acao-nova">
    <button class="botao" (click)="adicionarNova()">nova</button>
    <p>consultas agendadas:</p>
    <div class="filtro">
      <input name="filtro" type="text" placeholder="buscar nome" (blur)="buscaConsulta($event)">
    </div>
  </div>

  <div class="lista-todas" *ngIf="listaConsultasAtivas.length > 0 else listaVazia">
    <div >
      <table>
        <thead>
          <th>data</th>
          <th>horario</th>
          <th>paciente</th>
          <th>medico</th>
          <th >especialidade</th>
        </thead>
        <tbody class="card-consulta" *ngFor="let consulta of listaConsultasAtivas" routerLink="/detalheConsulta/{{consulta.id}}" >
          <td>{{consulta.data}}</td>
          <td>{{consulta.hora}}</td>
          <td>{{consulta.paciente}}</td>
          <td>{{consulta.medico}}</td>
          <td class="especialidade">{{consulta.especialidade}}</td>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #listaVazia>
    <div>
      <p class="listaVazia">Não há consultas a exibir</p>
    </div>
  </ng-template>
  <div class="voltar">
    <button routerLink="/contas">todos perfis</button>
  </div>
</section>
