<section class="consulta-container">
  <div class="consulta-cabecalho">
    <h1>seção de consultas</h1>
  </div>
  <div class="acao-nova">
    <button class="botao" (click)="adicionarNova()">nova</button>
    <p>consultas agendadas:</p>
    <div class="filtro" *ngIf="listaConsultasAtivas.length > 0">
      <input name="filtro" type="text" placeholder="buscar consulta" >
    </div>
  </div>

  <div class="lista-todas" *ngIf="listaConsultasAtivas.length > 0 else listaVazia">
    <div >
      <table>
        <thead>
          <th>data</th>
          <th>horario</th>
          <th>paciente</th>
          <th>medico</th>
          <th >especialidade</th>
        </thead>
        <tbody class="card-consulta" *ngFor="let consulta of listaConsultasAtivas" routerLink="/detalheConsulta/{{consulta.id}}" >
          <td>{{consulta.data}}</td>
          <td>{{consulta.hora}}</td>
          <td class="celula-paciente">{{consulta.paciente}}</td>
          <td class="celula-medico">{{consulta.medico}}</td>
          <td class="especialidade">{{consulta.especialidade}}</td>
        </tbody>
      </table>
    </div>
    <app-carregar-mais *ngIf="listaConsultasAtivas.length > 0" [HaMaisArquivos]="haMaisDados"
      (click)="buscarMaisRegistro()" ></app-carregar-mais>
    </div>
  <div class="voltar">
    <button routerLink="/contas">todos perfis</button>
  </div>
  <ng-template #listaVazia>
    <div>
      <p class="listaVazia">Não há consultas a exibir</p>
    </div>
  </ng-template>

</section>
