<section class="container">
  <button>Adicionar Médico</button>
  <div class="box">
    <h1>Cadastro de médicos:</h1>
    <div class="formulario">
      <form>
        <p>Entre com as informações do médico:</p>
        <label for="nome">nome completo:</label>
        <input type="text" name="nome" id="nome" placeholder="nome completo">
        <label for="crm">informe o CRM:</label>
        <input type="number" name="crm" id="crm" placeholder="somente os números">
        <label for="email">informe o e-mail:</label>
        <input type="email" name="email" id="email" placeholder="email@email.com">
        <label for="telefone">informe o telefone de contato:</label>
        <input type="tel" name="telefone" id="telefone" placeholder="somente números">
        <p>Informações de endereço: </p>
        <label for="cep">Informe o Cep: </label>
        <input type="number" name="cep" id="cep" placeholder="somente números">
        <label for="logradouro">logradouro: </label>
        <input type="text" name="logradouro" id="logradouro">
        <label for="bairro">bairro: </label>
        <input type="text" name="bairro" id="bairro">
        <label for="numero">numero: </label>
        <input type="text" name="numero" id="numero">
        <label for="complemento">complemento: </label>
        <input type="text" name="complemento" id="complemento">
      </form>
      <button>Enviar dados</button>
    </div>
  </div>
  <div *ngIf="listaMedicos.length > 0 else listaVazia">
    <h1> Médicos colaboradores: </h1>
    <div class="lista-medico" *ngFor="let medico of listaMedicos" >
      <div class="card">
        <p><span>nome:</span>{{medico.nome}}</p>
        <p><span>especialidade:</span>{{medico.especialidade}}</p>
        <p><span>crm:</span>{{medico.crm}}</p>
        <p><span>contato:</span>{{medico.email}}</p>
        <img src="../../../assets/imagens/icone-editar.png" alt="ícone com o símbolo de um lápis para editar informações" (click)="editar()">
          <img src="../../../assets/imagens/icone-excluir.png" alt="ícone de lixeira para excluir um paciente"  (click)="excluir()">

      </div>
  </div>
</div>
<ng-template #listaVazia>
  <div class="lista-vazia">
    <p>Não há médicos a exibir</p>
  </div>
</ng-template>
</section>
