<section class="consulta-nova">
  <div class="cabecalho-nova">
    <h1>Nova Consulta</h1>
  </div>
  <div class="card-nova">
    <p>Insira as informações para agendamento de nova consulta:</p>
    <div class="formulario-nova">
      <form class="nova-consulta">
        <label for="cpfPaciente"><span>cpf</span> do paciente:</label>
        <input type="text" name="cpfPaciente">
        <label for="nomePaciente">nome do paciente:</label>
        <input type="text" name="nomePaciente" id="">
        <label for="crmMedico"><span>crm</span>do médico:</label>
        <input type="text" name="crmMedico">
        <label for="dataConsulta">selecione a data:</label>
        <input type="date" name="dataConsulta" id="">
        <label for="horaConsulta">selecione a hora:</label>
        <input type="time" name="horaConsulta" id="">
        <label for="especialidadeConsulta">Especialidade:</label>
        <select name="especialidadeConsulta" id="">
          <option value="GERIATRIA">Geriatria</option>
          <option value="CLÍNICA MÉDICA">Clínica Médica</option>
          <option value="GINECOLOGIA">Ginecologia</option>
          <option value="PEDIATRIA">Pediatria</option>
          <option value="ORTOPEDIA">Ortopedia</option>
        </select>
        <div class="acoes">
          <button>Enviar</button>
        </div>
      </form>
      <div class="listar-todos">
        <button>Cancelar</button>
      </div>
    </div>
  </div>
</section>
