<section class="consulta-nova">
  <div class="cabecalho-nova">
    <h1>Adicionar Nova Consulta</h1>
  </div>
  <div class="card-nova">
    <p>Insira as informações para agendamento de nova consulta:</p>
    <div class="formulario-nova">
      <form class="nova-consulta" #f="ngForm">
        <label for="cpfPaciente"><span>cpf</span> do paciente:</label>
        <input type="text" name="cpfPaciente" ngModel required pattern="\d{3}.\d{3}.\d{3}\-\d{2}" #cpf="ngModel" placeholder="xxx.xxx.xxx-xx" (blur)="buscaUmPacientePeloCPF($event,f)">
        <div class="erro" *ngIf="cpf.invalid && cpf.dirty || cpf.touched">
            <app-mensagem *ngIf="cpf.errors?.['required']" mensagem="o CPF deve ser inserido"></app-mensagem>
            <app-mensagem *ngIf="cpf.errors?.['pattern']" mensagem="o preenchimento deve seguir o padrão requirido: xxx.xxx.xxx-xx"></app-mensagem>
        </div>
        <label for="paciente">nome do paciente:</label>
        <input type="text" name="paciente" ngModel required pattern="\D+" #nomeP="ngModel" placeholder="insira o nome ">
        <div class="erro" *ngIf="nomeP.invalid && nomeP.touched || nomeP.dirty">
            <app-mensagem *ngIf="nomeP.errors?.['required']" mensagem="o nome deve ser preenchido"></app-mensagem>
            <app-mensagem *ngIf="nomeP.errors?.['pattern']" mensagem="somente letras"></app-mensagem>
        </div>
        <label for="medico">nome do médico:</label>
        <select name="medico" ngModel #medico="ngModel" id="medico" >
            <option value="">selecione o médico</option>
            <option *ngFor="let medico of listaDeMedicos"  value="{{medico.nome}}">{{medico.nome}}</option>
        </select>
        <label for="data">selecione a data:</label>
        <input type="date" name="data"  ngModel required #data="ngModel">
        <div class="erro" *ngIf="data.invalid && data.touched">
            <app-mensagem *ngIf="data.errors?.['required']" mensagem="a data é necessária e obrigatória"></app-mensagem>
        </div>
        <label for="hora">selecione a hora:</label>
        <input type="time" name="hora" class="hora" ngModel required #hora="ngModel">
        <div class="erro" *ngIf="hora.invalid && hora.touched">
            <app-mensagem *ngIf="hora.errors?.['required']" mensagem="selecionar a hora é obrigatório"></app-mensagem>
        </div>
        <label for="especialidadeConsulta">Especialidade:</label>
        <select name="especialidade" ngModel required #espec ="ngModel" (blur)="buscaUmMedicoPelaEspecialidade($event,f)">
          <option value="geriatria">Geriatria</option>
          <option value="clinica médica">Clínica Médica</option>
          <option value="ginecologia">Ginecologia</option>
          <option value="pediatria">Pediatria</option>
          <option value="ortopedia">Ortopedia</option>
        </select>
        <div class="erro" *ngIf="espec.invalid && espec.touched">
            <app-mensagem *ngIf="espec.errors?.['required']" mensagem="a especialidade é obrigatória"></app-mensagem>
        </div>
        <div class="acoes">
          <button [disabled]="f.invalid" (click)="criarNova(f)">Enviar</button>
          <button (click)="listarTodas()">Cancelar</button>
        </div>
      </form>

    </div>
  </div>
</section>
