<section class="box">
  <div class="cabecalho">
    <h1>Seção de médicos</h1>
  </div>
  <div>
    <button class="botao" (click)="adicionarNovo()">novo</button>
  </div>
  <h1>Lista de medicos:</h1>
  <div class="filtro" *ngIf="listaMedicos.length > 0">
    <input name="filtro" type="text" placeholder="buscar nome">
  </div>
  <div
    class="lista-pacientes"
    *ngIf="listaMedicos.length > 0; else listaVazia"
  >
    <div>
      <div class="card">
        <table>
          <thead >
            <tr class="linha">
              <th>nome</th>
              <th>telefone</th>
              <th>especialidade</th>
            </tr>
          </thead>
          <tbody  *ngFor="let medico of listaMedicos"
          routerLink="/detalheMedico/{{ medico.id }}">
            <tr class="coluna">
              <td>{{medico.nome}}</td>
              <td>{{medico.telefone}}</td>
              <td class="especialidade">{{medico.especialidade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-carregar-mais (click)="carregarMaisDados()" *ngIf="listaMedicos.length > 0" [HaMaisArquivos]="haMaisDados"></app-carregar-mais>
    </div>
  </div>
  <ng-template #listaVazia>
    <div class="lista-vazia">
      <p>Não há médicos a exibir!</p>
    </div>
  </ng-template>
  <div class="voltar">
    <button routerLink="/contas">todos perfis</button>
  </div>
</section>
