
.box{
  text-align: center;
  display: block;
  min-height: 150vh;
 }
 .cabecalho{
   font-size: 1.5em;
   text-transform: uppercase;
   margin:0.5em;
 }
 .filtro{
   text-align: center;
   padding: 0.5em;
 }
 .filtro input{
   width: 20%;
   border:1px solid #dcd9d1;
   border-radius: 1em;
   padding:0.5em 0.7em;
   text-align: center;
 }
 .botao{
   font-size: 1.3em;
   text-align: center;
   padding: 0.35em 1em;
   border: none;
   margin-bottom: 1em;
   border-radius: 1.5em;
 }
 .card{
   display: inline-block;
   font-size: 1.5em;
   margin:0.5em;
   padding:0.35em;
   overflow-y: auto;
 }
 table,th{
   border:2px groove black;
   border-collapse: collapse;
   padding: 0.7em;
   text-align: center;
   width: 40em;

 }
 th{
   background-color: #368e87;
 }

 td{
   border-bottom: 1px solid black;
   padding:0.6em;
   cursor: pointer;
 }
 .especialidade{
  text-transform: uppercase;
 }
 .voltar button{
   border-radius: 2rem;
   font-size: 1em;
   padding:0.2em 1em;
 }

