<section class="box">
  <div class="cabecalho">
    <h1>Seção de médicos</h1>
  </div>
  <div>
    <button class="botao" (click)="adicionarNovo()">novo</button>
  </div>
  <h1>Lista de medicos:</h1>
  <div class="filtro">
    <input name="filtro" type="text" placeholder="buscar nome" (blur)="buscaPaciente($event)">
  </div>
  <div
    class="lista-pacientes"
    *ngIf="listaMedicos.length > 0; else listaVazia"
  >
    <div>
      <div class="card">
        <table>
          <thead >
            <tr class="linha">
              <th>nome</th>
              <th>telefone</th>
              <th>especialidade</th>
            </tr>
          </thead>
          <tbody  *ngFor="let medico of listaMedicos"
          routerLink="/detalheMedico/{{ medico.id }}">
            <tr class="coluna">
              <td>{{medico.nome}}</td>
              <td>{{medico.telefone}}</td>
              <td class="especialidade">{{medico.especialidade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ng-template #listaVazia>
    <div class="lista-vazia">
      <p>Não há pacientes a exibir!</p>
    </div>
  </ng-template>
  <div class="voltar">
    <button routerLink="/contas">todos perfis</button>
  </div>
</section>
