.editar{
  display: contents;
  min-height: 190vh;
}
.editar-cabecalho{
  display: block;
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  text-transform:capitalize;
}
.editar-formulario{
  padding: 1.7em;
  text-align: justify;
  min-height: 50vh;
}
.formulario{
  display: block;
 font-size: 1.6em;
 text-transform: capitalize;
 min-height: 50vh;
}
.formulario label{
  display: inline-block;
  font-size: 0.85em;
  font-weight: 600;
  margin: 0.35em 0.35em 1.3em 0.65em;
}
.formulario input{
  display: inline;
  padding: 0.25em;
  font-size: 0.85em;
  text-align: center;
  border:1px groove #e1e1d5;
  border-radius: 1em;
}
.editar-botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:0.35em;
}
#uf {
  padding:0.1em !important;
}
.editar-botao button{
  font-size: 1.2em;
  margin:0.35em;
  border:1px none;
  border-radius: 1em;
  padding:1em;
}
