<section class="editar">
  <div class="editar-cabecalho">
    <h1>Edição de Paciente</h1>
  </div>
  <div class="editar-formulario">
    <form #f="ngForm" id="formulario" >
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" ngModel required #nome="ngModel" minlength="3" placeholder="informe o nome"><br>
      <div class="editar-erro" *ngIf="nome.invalid && nome.touched || nome.dirty">
          <app-mensagem *ngIf="nome.errors?.['required']" mensagem="É necessário inserir o nome"></app-mensagem>
          <app-mensagem *ngIf="nome.errors?.['minlength']" mensagem="O nome precisa ter mais de 3 caracteres"></app-mensagem>
      </div>
      <label for="telefone">Telefone:</label>
      <input type="text" name="telefone" ngModel #telefone="ngModel" id="telefone" required placeholder="informe o número de contato"><br>
      <div class="editar-erro" *ngIf="telefone.invalid && telefone.touched || telefone.dirty">
        <app-mensagem *ngIf="telefone.errors?.['required']" mensagem="é necessário inserir um número de telefone"></app-mensagem>
      </div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" ngModel #email="ngModel"  required email placeholder="informe um e-mail válido"><br>
      <div class="editar-erro" *ngIf="email.invalid && email.touched || email.dirty">
          <app-mensagem *ngIf="email.errors?.['required']" mensagem="Necessário inserir e-mail"></app-mensagem>
          <app-mensagem *ngIf="email.errors?.['email']" mensagem="Formato de E-mail não válido"></app-mensagem>
      </div>
    </form>
  </div>
  <div class="editar-botao">
    <button type="submit" [disabled]="f.invalid" (click)="atualizar(f)">Atualizar dados</button>
    <button (click)="retornarParaLista()">Cancelar</button>
  </div>
</section>
