.box{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1em 0 1.5em 0;
  height: 95vh;
}
.box h2{
  margin:1em;
}
.botoes{
  display: flex;
  justify-content: space-evenly;
  margin: 1.5em 0 0 0;
  padding: 3em;
  height: 25%;
  width: 70%;
}
.botao{
  height: 95%;
  width: 35%;
  font-size:1.5em;
  margin:0.25em;
  justify-content: space-evenly;
  border:2px solid #4F4F4F ;
  border-radius: 20px;
}
